.contenedor-card{
    width: 60%;
    height: 500px;
    margin: 10px 10px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.imagen-card{
    height: 100%;
    width: 40%;
}

.contenedor-texto-card{
    text-emphasis: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-card{
    font-size: 1.3rem;
}

.cargo-card{
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-card{
    font-size: 1.1rem;
    text-align: justify;
}