@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

.contenedor{
  margin: auto;
}

.loader{
  width: 100%;
  position: relative;
  text-align: center;
}

.circle{
  position: relative;
  top: 100px;
  margin: 0 auto;
}

.loader p{
  position: relative;
  width: 60%;
  top: 150px;
  margin: auto;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Passions Conflict', cursive;;
}

.loader span{
  position: relative;
  top: 170px;
  left: 200px;
  }

